{% extends "global/Page.html" %}
{% load otree %}


{# ****************************************************************************************************************** #}
{# *** STYLES *** #}
{# ****************************************************************************************************************** #}
{% block styles %}
    <link href="{% static 'css/custom.css' %}" rel="stylesheet"/>
{% endblock %}


{# ****************************************************************************************************************** #}
{# *** TITLE *** #}
{# ****************************************************************************************************************** #}
{% block title %}
    {{ page_title }}
{% endblock %}


{# ****************************************************************************************************************** #}
{# *** CONTENT *** #}
{# ****************************************************************************************************************** #}
{% block content %}

    <div>
        <p>
            {% blocktrans trimmed %}

                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">Event</th>
                      <th scope="col">Loss without adaptation measure</th>
                      <th scope="col">Loss with adaptation measure</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">Flood</th>
                      <td>{{ payoff_when_flood_without_adapt }}</td>
                      <td>{{ loss_with_adapt }}</td>
                    </tr>
                    <tr>
                      <th scope="row">No flood</th>
                      <td>{{ total_payoff }}</td>
                      <td>{{ loss_with_adapt }}</td>
                    </tr>
                  </tbody>
                </table>

            {% endblocktrans %}
        </p>
<br/>
        {% next_button %}

    </div>
{% endblock %}