{% extends "global/Page.html" %}
{% load otree %}


{% block title %}
    SAMTYKKEERKLÆRING TIL SPIL OG SPØRGESKEMAER
{% endblock %}

{% block content %}

DTU har i samarbejde med LB forsikrings Videnscenter udviklet et klimaspil og et spørgeskema, som skal være med til at skabe ny viden om, hvordan vi som mennesker træffer beslutninger om at beskytte os mod klimahændelser som f.eks. oversvømmelser. Vi vil opfordre alle interesserede LB medlemmer til at prøve spillet og deltage i undersøgelsen, som vi regner med vil tage mellem ca.  {{ Constants.min_time }} og  {{ Constants.max_time }} min.
<br/> <br/>

    Hvis du vælger at deltage i undersøgelsen, vil du blive bedt om at:
        <ul>

        <li> Spille et kort spil </li>
        <li> Besvare en række spørgsmål </li>
        </ul>

Personlige resultater er anonyme og oplysninger kan ikke identificeres i vores data. Resultaterne vil blive analyseret i en forskningsmæssig sammenhæng, og de vil være offentligt tilgængelige i en generel form.<br />

    <br />

    <p>

Deltagelse i spillet og spørgeskemaet er naturligvis helt frivilligt, og alle databeskyttelsesregler vil blive overholdt.
<br />

     <br />


 Vi vil på den baggrund bede dig om samtykke til, at vi må behandle (herunder indsamle, opbevare fortroligt og slette) oplysninger om dig til ovenstående formål. <br />  <br />

    <br />


    <br />
 <button class="otree-btn-next btn btn-primary next-button otree-next-button">Fortsætte</button>
{% endblock %}
