{% extends "global/Page.html" %}
{% load otree %}

{# ****************************************************************************************************************** #}
{# *** STYLES *** #}
{# ****************************************************************************************************************** #}
{% block styles %}
<link href="{% static 'css/custom.css' %}" rel="stylesheet"/>
{% endblock %}


{# ****************************************************************************************************************** #}
{# *** TITLE *** #}
{# ****************************************************************************************************************** #}
{% block title %}
<p>
    <img src="{% static 'welcomedk/images/dtu.png' %}"  class="rounded float-left" />
    <img src="{% static 'welcomedk/images/lb.png' %}"  class="rounded float-right" />
</p><br/> <br/>
KLIMASPILLET
{% endblock %}


{# ****************************************************************************************************************** #}
{# *** CONTENT *** #}
{# ****************************************************************************************************************** #}
{% block content %}
    <div>
        <p>I spillet er du en boligejer, som har muligheden for at klimasikre sit hus. Tabellen viser, hvor mange point du får i tilfælde (eller udeblivelse) af en oversvømmelse, afhængigt af om du investerer i klimasikring eller ej. </p>
        <p><img src="{% static 'welcomedk/images/adaptdk.png' %}"  class="img-responsive center-block" /></p>
        <br/>
    </div>

    <div>
        <p>I starten af hver runde får du oplyst, hvad risikoen er for, at dit hus bliver oversvømmet. Det er enten 1, 5 eller 10 pct. Du beslutter, på baggrund af den information, om du vil klimasikre dit hus.
Du skal trykke på en af de 100 firkanter, som du bliver præsenteret for. Dette vil afsløre, om du har været udsat for en oversvømmelse. </p>

        <p><img src="{% static 'welcomedk/images/game.gif' %}"  class="img-responsive center-block" /></p>
        <p>Eksempel: Hvis din risiko er 10 pct. i alt, så er 10 af husene oversvømmede. Den firkant, som du trykker på, vil afgøre resultatet. Hvis den er rød, betyder det, at dit hus er oversvømmet og at du får 50 point. Hvis den er grøn, betyder det, at dit hus er uskadt og at du får 500 point. Hvis du har klimasikret, får du 300 point uanset, om hvilket firkant du trykker på.</p>
        <br/>
    </div>
 <button class="otree-btn-next btn btn-primary next-button otree-next-button">Fortsætte</button>
{% endblock %}