{% extends "global/Page.html" %}
{% load otree %}

{# ****************************************************************************************************************** #}
{# *** STYLES *** #}
{# ****************************************************************************************************************** #}
{% block styles %}
<link href="{% static 'welcomedk/css/custom.css' %}" rel="stylesheet"/>
{% endblock %}


{# ****************************************************************************************************************** #}
{# *** TITLE *** #}
{# ****************************************************************************************************************** #}
{% block title %}
<p>
    <img src="{% static 'welcomedk/images/dtu.png' %}"  class="rounded float-left" />
    <img src="{% static 'welcomedk/images/lb.png' %}"  class="rounded float-right" />
</p><br/> <br/>
KLIMASPILLET
{% endblock %}


{# ****************************************************************************************************************** #}
{# *** CONTENT *** #}
{# ****************************************************************************************************************** #}
{% block content %}
    <div>
        <p>Spillet går ud på, at du er en boligejer, som har muligheden for at klimasikre din bolig, hvis du vurderer det, er nødvendigt ud fra de givende informationer. Tabellen viser, hvor mange point du får i tilfælde (eller udeblivelse) af en oversvømmelse, afhængigt af om du vælger at investerer i klimasikring eller ej. </p>
        <p><img src="{% static 'welcomedk/images/adaptdk.png' %}"  class="img-responsive center-block" /></p>
        <br/>
    </div>

    <div>
        <p>I starten af hver runde vil du blive oplyst, hvad risikoen er for, at din bolig bliver oversvømmet. Det er enten 1, 5 eller 10 pct. Du vurderer, på baggrund af denne information, om du vil klimasikre din bolig. </p>
        <p>Hernæst, skal du trykke på en af de 100 firkanter, som du bliver præsenteret for. Dette vil afsløre, om du har været udsat for en oversvømmelse. </p>

        <p><img src="{% static 'welcomedk/images/game.gif' %}"  class="img-responsive center-block" /></p>
        <p>Eksempel: Hvis din risiko er 10 pct. i alt, så er 10 ud af 100 boliger oversvømmet. Den firkant, som du trykker på, vil afgøre resultatet. Hvis den er rød, betyder det, at din bolig er et af de oversvømmende – her vil du opnå 50 point. Hvis den er grøn, betyder det, at din bolig er uskadt og du opnår 500 point. Hvis du derimod har klimasikret, får du 300 point, uanset hvilket firkant du trykker på.</p>
        <br/>
    </div>
 <button class="otree-btn-next btn btn-primary next-button otree-next-button">Fortsætte</button>
{% endblock %}