{% extends "global/Page.html" %}
{% load otree %}


{# ****************************************************************************************************************** #}
{# *** STYLES *** #}
{# ****************************************************************************************************************** #}
{% block styles %}
    <link href="{% static 'controldk/css/custom.css' %}" rel="stylesheet"/>
{% endblock %}

{# ****************************************************************************************************************** #}
{# *** TITLE *** #}
{# ****************************************************************************************************************** #}
{% block title %}
<p>
    <img src="{% static 'controldk/images/dtu.png' %}"  class="rounded float-left" />
    <img src="{% static 'controldk/images/lb.png' %}"  class="rounded float-right" />
</p><br/> <br/>
 Velkommen til runde {{ round_no }}
{% endblock %}

{# ****************************************************************************************************************** #}
{# *** CONTENT *** #}
{# ****************************************************************************************************************** #}
{% block content %}
    <div>
            <p>I denne runde er der {{ risk }}% risiko for en oversvømmelse. </p>
            <p>Du har muligheden for at klimasikre dit hus, det koster 200 point.</p>

    </div>

  </div>

 <button class="otree-btn-next btn btn-primary next-button otree-next-button">Forsæt</button>
{% endblock %}