{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}
{% load i18n %}


{# ****************************************************************************************************************** #}
{# *** STYLES *** #}
{# ****************************************************************************************************************** #}
{% block styles %}
    <link href="{% static 'control_forcedloss/css/custom.css' %}" rel="stylesheet"/>
{% endblock %}

{# ****************************************************************************************************************** #}
{# *** TITLE *** #}
{# ****************************************************************************************************************** #}
{% block title %}
 Instructions for Phase {{ phase_no }}
{% endblock %}

{# ****************************************************************************************************************** #}
{# *** CONTENT *** #}
{# ****************************************************************************************************************** #}
{% block content %}
    <div>
        <p>Welcome to Phase {{ phase_no }} of the experiment!</p>
    </div>
    <div>
        <p>The following payoff table shows the amount you can earn when you choose to adapt or not, if there is a flood or not. Please read the instruction booklet for Phase 1 carefully before you proceed.</p>
        <p><img src="{% static 'control_forcedloss/images/adapt.png' %}"  class="img-responsive center-block" /></p>
        <br/>
  </div>

 {% next_button %}
{% endblock %}