{% extends "global/Page.html" %}
{% load otree %}





{% block title %}
    Phase {{ phase_no }}
{% endblock %}

{% block content %}
<p>The risk of your home being flooded is {{ risk0 }} percent at this period. The other two group members have the risk of {{ risk1 }} percent and {{ risk2 }} percent, respectively.</p>

{% formfield player.group_adapt with label='Do you want to adapt collectively?' %}

<p>Please communicate with the other group members before making a decision.</p>
    {% chat %}
    {% next_button %}
{% endblock %}
