{% extends "global/Page.html" %}
{% load otree %}
{% block title %}
    <p>
    <img src="{% static 'welcomedk/images/dtu.png' %}"  class="rounded float-left" />
    <img src="{% static 'welcomedk/images/lb.png' %}"  class="rounded float-right" />
</p><br/> <br/>
{% endblock %}


{% block content %}
<h3>2. NOGLE UDGSAGN OM DIG</h3>
<hr>
Angiv for hvert udsagn, hvorvidt du er enig i, at de passer på dig eller ej.
{% formfield player.s21_lookpainting %}
{% formfield player.s22_thingsinplace %}
{% formfield player.s23_remainunkind %}
{% formfield player.s24_nobodylikeme %}
{% formfield player.s25_afraidfeelingpain %}
{% formfield player.s26_hardtolie %}
{% formfield player.s27_sciboring %}
{% formfield player.s28_postponetask %}
{% formfield player.s29_criticism %}
{% formfield player.s210_gettouchstranger %}
{% formfield player.s211_worry %}
{% formfield player.s212_wondering %}
{% formfield player.s213_goodimg %}
{% formfield player.s214_precise %}
{% formfield player.s215_agreeothers %}
{% formfield player.s216_talkothers %}
{% formfield player.s217_overcome %}
{% formfield player.s218_famous %}
{% formfield player.s219_lovepeople %}
{% formfield player.s220_dothings %}
{% formfield player.s221_staycalm %}
{% formfield player.s222_wellmanner %}
{% formfield player.s223_tear %}
{% formfield player.s224_soap %}
<hr>
<div class="row">
    <div class="col">
        <button class="otree-btn-next btn btn-primary next-button otree-next-button">Fortsætte</button>
    </div>
    <div class="col">
      Del 2 af 7
    </div>
 </div>
{% endblock %}
