{% extends "global/Page.html" %}
{% load otree %}
{% block title %}
    <p>
    <img src="{% static 'welcomedk/images/dtu.png' %}"  class="rounded float-left" />
    <img src="{% static 'welcomedk/images/lb.png' %}"  class="rounded float-right" />
</p><br/> <br/>
{% endblock %}


{% block content %}
<h3>4. RISIKO OPFATTELSE FORBUNDET MED DIVERSE HANDLINGER</h3>
<hr>
Hvor risikofyldt synes du selv det er at...
{% formfield player.s41_diff_taste %}
{% formfield player.s42_camping %}
{% formfield player.s43_beghorseracing %}
{% formfield player.s44_investfund %}
{% formfield player.s45_drinking %}
{% formfield player.s46_taxdeduction %}
{% formfield player.s47_disagreeauth %}
{% formfield player.s48_stakepokergame %}
{% formfield player.s49_affair %}
{% formfield player.s410_takecredit %}
{% formfield player.s411_rundownski %}
{% formfield player.s412_invest5perincome %}
{% formfield player.s413_whitewaterrafting %}
{% formfield player.s414_wageonmatch %}
{% formfield player.s415_unsupportedsex %}
{% formfield player.s416_revealsecret %}
{% formfield player.s417_drivecarnobelt %}
{% formfield player.s418_investstartup %}
{% formfield player.s419_learnparachute %}
{% formfield player.s420_ridemoto %}
{% formfield player.s421_choosecareer %}
{% formfield player.s422_sayunpopularcase %}
{% formfield player.s423_sunbathe %}
{% formfield player.s424_jumpbungee %}
{% formfield player.s425_takesmallplane %}
{% formfield player.s426_gohomealone %}
{% formfield player.s427_movetofarawaycity %}
{% formfield player.s428_startnewcareer %}
{% formfield player.s429_leavekidathome %}
{% formfield player.s430_keeppurse %}
{% formfield player.s431_movehouse %}
{% formfield player.s432_sendkidtoschool %}
{% formfield player.s433_drivefloodedroad %}
{% formfield player.s434_parkcar %}
{% formfield player.s435_hiking %}
<hr>
<div class="row">
    <div class="col">
        <button class="otree-btn-next btn btn-primary next-button otree-next-button">Fortsætte</button>
    </div>
    <div class="col">
      Del 4 af 7
    </div>
 </div>
{% endblock %}
