{% extends "global/Page.html" %}
{% load otree %}



{% block content %}
<h3>6. RISIKO OPFATTELSE FORBUNDET MED DIVERSE HANDLINGER</h3>
<hr>
Hvor risikofyldt synes du selv at det er at...
{% formfield player.s61_diff_taste %}
{% formfield player.s62_camping %}
{% formfield player.s63_beghorseracing %}
{% formfield player.s64_investfund %}
{% formfield player.s65_drinking %}
{% formfield player.s66_taxdeduction %}
{% formfield player.s67_disagreeauth %}
{% formfield player.s68_stakepokergame %}
{% formfield player.s69_affair %}
{% formfield player.s610_takecredit %}
{% formfield player.s611_rundownski %}
{% formfield player.s612_invest5perincome %}
{% formfield player.s613_whitewaterrafting %}
{% formfield player.s614_wageonmatch %}
{% formfield player.s615_unsupportedsex %}
{% formfield player.s616_revealsecret %}
{% formfield player.s617_drivecarnobelt %}
{% formfield player.s618_investstartup %}
{% formfield player.s619_learnparachute %}
{% formfield player.s620_ridemoto %}
{% formfield player.s621_choosecareer %}
{% formfield player.s622_sayunpopularcase %}
{% formfield player.s623_sunbathe %}
{% formfield player.s624_jumpbungee %}
{% formfield player.s625_takesmallplane %}
{% formfield player.s626_gohomealone %}
{% formfield player.s627_movetofarawaycity %}
{% formfield player.s628_startnewcareer %}
{% formfield player.s629_leavekidathome %}
{% formfield player.s630_keeppurse %}
{% formfield player.s631_movehouse %}
{% formfield player.s632_sendkidtoschool %}
{% formfield player.s633_drivefloodedroad %}
{% formfield player.s634_parkcar %}
{% formfield player.s635_hiking %}
<hr>
<div class="row">
    <div class="col">
        <button class="otree-btn-next btn btn-primary next-button otree-next-button">Fortsætte</button>
    </div>
    <div class="col">
      Del 6 af 7
    </div>
 </div>
{% endblock %}
