{% extends "global/Page.html" %}
{% load otree %}


{% block title %}
    Post Questionnaire Survey
{% endblock %}

{% block content %}
I det følgende vil du blive stillet nogle få spørgsmål omkring dig selv, dine præferencer og andre baggrundsspørgsmål. Dine svar er vigtige for vores analyse af spillets resultater. Derfor beder vi dig svare så præcist så muligt på spørgsmålene. Dine svar vil være fuldstændigt fortrolige.
<hr>
<h3>1. SOCIOECONOMIC, GEOGRAPHIC AND VULNERABILITY FACTORS (DK)</h3>
{% formfield player.s11_gender %}
{% formfield player.s12_age %}
{% formfield player.s13_live_status %}
{% formfield player.s14_monthly_income %}
{% formfield player.s15_municipality %}
{% formfield player.s16_property_ownership %}
{% formfield player.s17_is_flood_risk_zone %}
{% formfield player.s18_house_type %}
{% formfield player.s19_is_exposed_climate_event %}
{% formfield player.s110_desc_climate_event %}
{% formfield player.s111_likelihood_climent_event %}
{% formfield player.s112_degree_or_disagree %}
<hr>

<h3>2. ECONOMIC THEORY (DK)</h3>
{% formfield player.s21_prefered_option %}
Forestil dig, at regeringen forbereder sig på en klimakatastrofe, hvor 600 mennesker forventes at omkomme. To alternative programmer til at mindske katastrofen er blevet foreslået. Antag, at det nøjagtige videnskabelige skøn over konsekvenserne af programmerne er som følger:
{% formfield player.s22_program_ab %}
{% formfield player.s23_program_cd %}
<hr>

<h3>3. SENSE OF COHERENCE SOC (DK)</h3>
Angiv for hvert udsagn, hvorvidt du er enig i, at de passer på dig eller ej.
{% formfield player.s31_findsolution %}
{% formfield player.s32_findvalue %}
{% formfield player.s33_understand_issue %}
<hr>

<h3>4. COMMUNITY SENSE OF COHERENCE SOC (DK)</h3>
Forestil dig at det område hvor du bor i bliver oversvømmet. Angiv, for hvert udsagn, hvorvidt du er enig i, at de passer til de mennesker der bor i nærområdet.
{% formfield player.s41_adversity %}
{% formfield player.s42_staycalm %}
{% formfield player.s43_meaning_exp %}
<hr>

<h3>5. DOMAIN-SPECIFIC RISK-TAKING SCALE DOSPERT (DK)</h3>
Vi vil bede dig om angive sandsynligheden for, at du ville udføre nedenstående handlinger, hvis du befandt dig i de givne situationer. Hvor sandsynligt ville det være (hvis du befandt dig i den givne situation), at du ville...
{% formfield player.s51_diff_taste %}
{% formfield player.s52_camping %}
{% formfield player.s53_beghorseracing %}
{% formfield player.s54_investfund %}
{% formfield player.s55_drinking %}
{% formfield player.s56_taxdeduction %}
{% formfield player.s57_disagreeauth %}
{% formfield player.s58_stakepokergame %}
{% formfield player.s59_affair %}
{% formfield player.s510_takecredit %}
{% formfield player.s511_rundownski %}
{% formfield player.s512_invest5perincome %}
{% formfield player.s513_whitewaterrafting %}
{% formfield player.s514_wageonmatch %}
{% formfield player.s515_unsupportedsex %}
{% formfield player.s516_revealsecret %}
{% formfield player.s517_drivecarnobelt %}
{% formfield player.s518_investstartup %}
{% formfield player.s519_learnparachute %}
{% formfield player.s520_ridemoto %}
{% formfield player.s521_choosecareer %}
{% formfield player.s522_sayunpopularcase %}
{% formfield player.s523_sunbathe %}
{% formfield player.s524_jumpbungee %}
{% formfield player.s525_takesmallplane %}
{% formfield player.s526_gohomealone %}
{% formfield player.s527_movetofarawaycity %}
{% formfield player.s528_startnewcareer %}
{% formfield player.s529_leavekidathome %}
{% formfield player.s530_keeppurse %}
<hr>

<h3>6. FLOOD DOMAIN-SPECIFIC RISK-TAKING SCALE F-DOSPERT</h3>
{% formfield player.s61_movehouse %}
{% formfield player.s62_sendkidtoschool %}
{% formfield player.s63_drivefloodedroad %}
{% formfield player.s64_parkcar %}
{% formfield player.s65_hiking %}
<hr>

<h3>7. PERSONALITY INVENTORY HEXACO - BHI (DK)</h3>
Angiv for hvert udsagn, hvorvidt du er enig i, at de passer på dig eller ej.
{% formfield player.s71_lookpainting %}
{% formfield player.s72_thingsinplace %}
{% formfield player.s73_remainunkind %}
{% formfield player.s74_nobodylikeme %}
{% formfield player.s75_afraidfeelingpain %}
{% formfield player.s76_hardtolie %}
{% formfield player.s77_sciboring %}
{% formfield player.s78_postponetask %}
{% formfield player.s79_criticism %}
{% formfield player.s710_gettouchstranger %}
{% formfield player.s711_worry %}
{% formfield player.s712_wondering %}
{% formfield player.s713_goodimg %}
{% formfield player.s714_precise %}
{% formfield player.s715_agreeothers %}
{% formfield player.s716_talkothers %}
{% formfield player.s717_overcome %}
{% formfield player.s718_famous %}
{% formfield player.s719_lovepeople %}
{% formfield player.s720_dothings %}
{% formfield player.s721_staycalm %}
{% formfield player.s722_wellmanner %}
{% formfield player.s723_tear %}
{% formfield player.s724_soap %}
<hr>

{% next_button %}
{% endblock %}
